.search-results {
    max-width: calc(1440px - 2*104px);
    padding: 80px 104px;
    display: flex;
    flex-direction: column;
    background-color: #F5F6F7;
}

.search-results__title {
    margin: 0;
    margin-bottom: 64px;
    text-align: left;
    font-family: "Roboto Slab Regular";
    font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
    color: #1A1B22;
}


.search-results__button {
    width: 288px;
    height: 64px;
    padding: 0;
    margin: auto;
    margin-top: 64px;
    border: 0;
    border-radius: 80px;
    background-color: #E8E8E8;
    color: #1A1B22;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.search-results__button:hover {
    background-color: #FFF;
    border: solid 3px #E8E8E8;
    color: #E8E8E8;
}

@media screen and (max-width: 1020px) {
    .search-results {
        max-width: calc(100% - 80px);
        padding: 40px;
    }

    .search-results__title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 32px;
    }

    .search-results__button {
        width: 240px;
        height: 56px;
        margin-top: 32px;
    }
}