.user-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-form__title {
    margin: 0;
    margin-top: 34px;
    margin-bottom: 22px;
    color: #1A1B22;
    text-align: left;
    font-family: "Roboto Black", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.17;
}

.user-form__label {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    color: #2F71E5;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.21;
}

.user-form__label:last-of-type {
    margin-bottom: 40px;
}

.user-form__input {
    height: 24px;
    width: 100%;
    margin: 0;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    border: 0;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

.user-form__input:focus {
    border-bottom: solid 1px rgba(0,0,0,1);
    outline: 0;
}

.user-form__input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    opacity: 0.2;
}

.user-form__error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #F00;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.21;
}

.user-form__button {
    height: 64px;
    margin-bottom: 16px;
    color: white;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    background-color: #2F71E5;
    border: 0;
    border-radius: 100px;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    cursor: pointer;
}

.user-form__button:disabled {
    background-color: #E6E8EB;
    color: #B6BCBF;
}

.user-form__text {
    margin: 0;
    margin-bottom: 28px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}

.user-form__link {
    cursor: pointer;
    color: #2F71E5;
    transition: all .4s ease;
}

.user-form__link:hover {
    text-decoration: underline;
    opacity: 0.5;
}