.saved-news {
  margin: 0;
  margin-top: 80px;
}

.saved-news__container {
  background-color: #f5f6f7;
  padding: 62px 104px 46px 104px;
}

@media screen and (max-width: 1220px) {
  .saved-news__container {
    padding: 32px 40px;
  }
}

@media screen and (max-width: 458px) {
  .saved-news {
    margin: 0;
    padding-top: 56px;
  }

  .saved-news__container {
    padding: 0 16px;
    padding-top: 24px;
  }
}
