.navigation {
  height: 100%;
}

.navigation__link-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 64px;
}

.navigation__link {
  color: var(--color);
  font-family: "Roboto Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.navigation__active-link {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 3px var(--color);
}

.navigation__button {
  width: 150px;
  border: solid 2px var(--color);
  border-radius: 100px;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.4s ease-in;
}

.navigation__button:hover {
  transform: scale(1.05);
  background: var(--border-color);
}

@media screen and (max-width: 1200px) {
  .navigation__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 1020px) {
  .navigation__link-list {
    gap: 16px;
  }

  .navigation__button {
    padding: 8px 17px;
  }
}
