.preloader {
  width: 100%;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F6F7;
}

.preloader__circle {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

.preloader__message {
  text-align: center;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
