.header {
  position: fixed;
  max-width: calc(1440px - 2 * 104px);
  width: 100%;
  --color: rgb(255, 255, 255);
  --border-color: rgba(255, 255, 255, 0.6);
  height: 80px;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(196, 196, 196, 0.01);
  border-bottom: solid 1px var(--border-color);
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  z-index: 800;
}

.header_hidden {
  visibility: hidden;
  opacity: 0;
}

.header_theme_bright {
  --color: #1a1b22;
  --border-color: #1a1b22c7;
  background: rgba(255, 255, 255, 0.7);
}

.header__title {
  margin: 0;
  color: var(--color);
  font-family: "Roboto Slab Bold", serif;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .header {
    max-width: none;
    width: calc(100vw - 80px);
    padding: 0 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    height: 66px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 56px;
    padding: 0 16px;
    width: calc(100vw - 32px);
  }
}
